.label-container > div:nth-child(1) > span {
  font-size: 0.7em;
}

.timeline-card {
  max-width: 100%;
  margin: 0 auto;
}

.stepper-controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

