<wcs-card mode="flat" class="timeline-card">
    <wcs-card-body>
        <h2>{{ 'JOURNEY.TITLE' | translate }}</h2>
    </wcs-card-body>

    <wcs-divider></wcs-divider>

    <wcs-card-body>

        <app-custom-horizontal-stepper
                [mode]="'linear'"
                [checkOnComplete]="false"
                [currentStep]="currentStep"
                [steps]="steps"
                [labelFontSize]="'0.85rem'"
                (stepClick)="onStepClick($event)">
        </app-custom-horizontal-stepper>

        <div class="stepper-controls">
            <wcs-button mode="clear" (click)="previousStep()" [attr.disabled]="currentStep === 0 ? true : null">Previous</wcs-button>
            <wcs-button mode="clear" (click)="nextStep()" [attr.disabled]="currentStep === steps.length - 1 ? true : null">Next</wcs-button>
        </div>

    </wcs-card-body>
</wcs-card>
