<div id="section-one">
  <div class="section-one-subitem">
    <h1>I am Loris VILA</h1>
    <span>An engineering student specializing <span class="code-text">Numeric Systems for the Industry</span> at Icam Europe</span>
    <span>Completing an apprenticeship at SNCF's Central Engineering Cluster</span>
    <span><i>Passionate about Engineering, Innovation, and Industry 4.0</i></span>
    <div class="logos flex-row gap-3em">
      <img src="assets/images/logos/icam.png">
      <img src="assets/images/logos/sncf.png">
    </div>
  </div>
  <div class="section-one-subitem">
    <div id="color-behind-photo"></div>
    <img src="assets/images/me/photoFond.png">
  </div>
</div>
<wcs-card mode="flat" id="section-two">
  <wcs-card-body id="list-skills">
      <app-list-element icon="🚀">Project Management</app-list-element>
      <app-list-element icon="🌐">Full stack web application development</app-list-element>
      <app-list-element icon="🛠">Train Maintenance & Troubleshooting</app-list-element>
      <app-list-element icon="💻">Train networking tool development</app-list-element>
  </wcs-card-body>
</wcs-card>
