<div id="section-one">
  <div class="section-one-subitem">
    <h1>{{ 'HOME.INTRO' | translate }}</h1>
    <span>{{ 'HOME.SPECIALTY' | translate }} <span class="code-text">{{ 'HOME.SPECIALTY_FIELD' | translate }}</span> {{ 'HOME.AT' | translate }}</span>
    <span>{{ 'HOME.APPRENTICESHIP' | translate }}</span>
    <span><i>{{ 'HOME.PASSION' | translate }}</i></span>
    <div class="logos flex-row gap-3em">
      <img src="assets/images/logos/icam.png">
      <img src="assets/images/logos/sncf.png">
    </div>
  </div>
  <div class="section-one-subitem">
    <div id="color-behind-photo"></div>
    <img src="assets/images/me/photoFond.png">
  </div>
</div>
<wcs-card mode="flat" id="section-two">
  <wcs-card-body id="list-skills">
      <app-list-element icon="🚀">{{ 'HOME.SKILL_PROJECT_MGMT' | translate }}</app-list-element>
      <app-list-element icon="🌐">{{ 'HOME.SKILL_FULLSTACK' | translate }}</app-list-element>
      <app-list-element icon="🛠">{{ 'HOME.SKILL_MAINTENANCE' | translate }}</app-list-element>
      <app-list-element icon="💻">{{ 'HOME.SKILL_NETWORK' | translate }}</app-list-element>
  </wcs-card-body>
</wcs-card>
