<h1>Banc de configuration d'équipements réseaux S.DOT <span class="code-text">v0</span></h1>

<wcs-card mode="flat">
    <wcs-card-body>
        <h3>Contexte 📎</h3>
    </wcs-card-body>
    <wcs-divider></wcs-divider>
    <wcs-card-body>
        <p>
            Lors de mon apprentissage en BTS au Technicentre SNCF Industriel de Bischheim,
            j'ai eu l'occasion d'assister au déploiement du <span class="enhance-text">projet de digitalisation des rames TER</span> nommé <span class="enhance-text">S.DOT</span>.
        </p>
        <p>
            Le système <span class="enhance-text">S.DOT (SNCF Digital On Train)</span> est une plateforme numérique développée par l’<span class="enhance-text">Ingénierie du Matériel de la SNCF</span>, visant à transformer les trains en plateformes communicantes.
            Intégré lors des <span class="enhance-text">opérations de rénovation OPTER</span>, S.DOT offre plusieurs <span class="enhance-text">fonctionnalités avancées</span> à bord des nouveaux engins TER, selon le choix des régions, notamment :
        </p>
        <div class="table-w-label">
            <div class="label-grid">Vidéosurveillance</div>
            <div class="logo-grid">📹</div>
            <div>Assure la sécurité des passagers et du personnel grâce à des caméras surveillant l'intérieur des trains ;</div>
            <div class="label-grid">Comptage des passagers</div>
            <div class="logo-grid">⏱️</div>
            <div>Permet de surveiller en temps réel la fréquentation des trains, aidant à une meilleure gestion des ressources et à l'ajustement des services en fonction de l'affluence ;</div>
            <div class="label-grid">Connectivité Wi-Fi pour les passagers</div>
            <div class="logo-grid">🛜</div>
            <div>Offre une connexion internet à bord, améliorant l'expérience des voyageurs en leur permettant de rester connectés durant leur trajet ;</div>
            <div class="label-grid">Diffusion dynamique d’informations voyageurs</div>
            <div class="logo-grid">📃</div>
            <div>Fournit en temps réel des informations sur les horaires, les correspondances et les annonces de sécurité via des panneaux d'affichage connectés ;</div>
            <div class="label-grid">Enregistrement de la voie par caméras frontales</div>
            <div class="logo-grid">🛤️</div>
            <div>Contribue à la sécurité en enregistrant en continu les trajets, facilitant l'analyse en cas d'incident ;</div>
            <div class="label-grid">Rétrovision</div>
            <div class="logo-grid">🚦</div>
            <div>Permet aux conducteurs de visualiser en temps réel les quais, renforçant ainsi la sécurité lors des manœuvres en gare.</div>
        </div>
    </wcs-card-body>
</wcs-card>

<wcs-card mode="flat">
    <wcs-card-body>
        <h3>Problématique ❓</h3>
    </wcs-card-body>
    <wcs-divider></wcs-divider>
    <wcs-card-body>
        <wcs-badge class="wcs-warning">A venir</wcs-badge>
    </wcs-card-body>
</wcs-card>
