<div class="projects-header">
  <h1>{{ 'PROJECTS.TITLE' | translate }}</h1>
  <p class="projects-intro">
    {{ 'PROJECTS.INTRO' | translate }}
  </p>
</div>
<wcs-card mode="flat">
  <wcs-card-body class="flex-row gap-2em">
    <h3>{{ 'PROJECTS.PROJECT1.TITLE' | translate }} <span class="code-text">{{ 'PROJECTS.PROJECT1.VERSION' | translate }}</span></h3>
    <wcs-badge class="wcs-success">{{ 'PROJECTS.STATUS_PROD' | translate }}</wcs-badge>
  </wcs-card-body>
  <wcs-divider></wcs-divider>
  <wcs-card-body class="project-content-container display-image-left">
    <div class="project-image-container">
      <img src="assets/images/projets/BdC/BancBHM.jpeg" class="img-shadow">
        <span>{{ 'PROJECTS.PROJECT1.IMG_CAPTION' | translate }}</span>
    </div>
    <div class="project-text-container">
        <span class="label">️{{ 'PROJECTS.CONTEXT' | translate }} 🛠</span>
        <span class="content">{{ 'PROJECTS.PROJECT1.CONTEXT' | translate }}</span>
        <span class="label">{{ 'PROJECTS.PROBLEM' | translate }} ❓</span>
        <span class="content">{{ 'PROJECTS.PROJECT1.PROBLEM' | translate }}</span>
        <span class="label">{{ 'PROJECTS.SOLUTION' | translate }} 💡</span>
        <span class="content">{{ 'PROJECTS.PROJECT1.SOLUTION' | translate }}</span>
        <span class="label">{{ 'PROJECTS.GAINS' | translate }} 📈</span>
        <span class="content">{{ 'PROJECTS.PROJECT1.GAINS' | translate }}</span>
    </div>
    <div class="project-links-container">
      <wcs-button class="icon-button" routerLink="BdC_v0_Bischheim">
        <wcs-mat-icon icon="more_horiz"></wcs-mat-icon>
        {{ 'PROJECTS.MORE_INFO' | translate }}
      </wcs-button>
    </div>
    <div class="project-logo-container">
        <img src="assets/images/logos/sncf.png">
        <img src="assets/images/logos/jacquard.png">
        <img src="assets/images/logos/sdot.jpg">
    </div>
  </wcs-card-body>
</wcs-card>

<wcs-card mode="flat">

    <wcs-card-body class="flex-row gap-2em">
        <h3>{{ 'PROJECTS.PROJECT2.TITLE' | translate }} <span class="code-text">{{ 'PROJECTS.PROJECT2.VERSION' | translate }}</span></h3>
        <wcs-badge class="wcs-warning">{{ 'PROJECTS.STATUS_DELIVERY' | translate }}</wcs-badge>
    </wcs-card-body>
    <wcs-divider></wcs-divider>
    <wcs-card-body class="project-content-container display-image-right">
        <div class="project-image-container">
            <img src="assets/images/projets/LDv2/HomePageScreenshot.png" class="img-shadow">
            <span>{{ 'PROJECTS.PROJECT2.IMG_CAPTION' | translate }}</span>
        </div>
        <div class="project-text-container">
            <span class="label">️{{ 'PROJECTS.CONTEXT' | translate }} 🛠</span>
            <span class="content">{{ 'PROJECTS.PROJECT2.CONTEXT' | translate }}</span>
            <span class="label">{{ 'PROJECTS.PROBLEM' | translate }} ❓</span>
            <span class="content">{{ 'PROJECTS.PROJECT2.PROBLEM' | translate }}</span>
            <span class="label">{{ 'PROJECTS.SOLUTION' | translate }} 💡</span>
            <span class="content">{{ 'PROJECTS.PROJECT2.SOLUTION' | translate }}</span>
            <span class="label">{{ 'PROJECTS.GAINS' | translate }} 📈</span>
            <span class="content">{{ 'PROJECTS.PROJECT2.GAINS' | translate }}</span>
        </div>
        <div class="project-logo-container">
            <img src="assets/images/logos/sncf.png">
        </div>
    </wcs-card-body>
</wcs-card>

<wcs-card mode="flat">
  <wcs-card-body class="flex-row gap-2em">
    <h3>{{ 'PROJECTS.PROJECT3.TITLE' | translate }} <span class="code-text">{{ 'PROJECTS.PROJECT3.VERSION' | translate }}</span></h3>
    <wcs-badge class="wcs-warning">{{ 'PROJECTS.STATUS_STUDY' | translate }}</wcs-badge>
  </wcs-card-body>
  <wcs-divider></wcs-divider>
  <wcs-card-body class="project-content-container display-image-left">
    <div class="project-image-container">
        <img src="assets/images/projets/BdC/BdC_proto.png">
        <span>{{ 'PROJECTS.PROJECT3.IMG_CAPTION' | translate }}</span>
    </div>
    <div class="project-text-container">
        <span class="label">️{{ 'PROJECTS.CONTEXT' | translate }} 🛠</span>
        <span class="content">{{ 'PROJECTS.PROJECT3.CONTEXT' | translate }}</span>
        <span class="label">{{ 'PROJECTS.PROBLEM' | translate }} ❓</span>
        <span class="content">{{ 'PROJECTS.PROJECT3.PROBLEM' | translate }}</span>
        <span class="label">{{ 'PROJECTS.SOLUTION' | translate }} 💡</span>
        <span class="content">{{ 'PROJECTS.PROJECT3.SOLUTION' | translate }}</span>
        <span class="label">{{ 'PROJECTS.GAINS' | translate }} 📈</span>
        <span class="content"><i>{{ 'PROJECTS.GAINS_NOT_MEASURABLE' | translate }}</i></span>
    </div>
      <div class="project-logo-container">
          <img src="assets/images/logos/sncf.png">
          <img src="assets/images/logos/icam.png">
          <img src="assets/images/logos/sdot.jpg">
      </div>
  </wcs-card-body>
</wcs-card>
